.input-form {
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #DDD;

  input {
    font-style: italic;
    border: none;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    font-size: inherit;
  }
}