.input-form {
  width: 100%;
  box-sizing: border-box;

  input {
    font-size: 1.2em;
    font-style: italic;
    border: none;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
  }
}