.todo-element {
  display: flex;
  align-items: center;
  padding: 0.4em;
  border-bottom: 1px solid #DDD;

  .todo-text {
    margin-left: 0.2em;
    flex: 1;

    &_completed {
      text-decoration: line-through;
      color: #DDD;
    }
  }

  .complete {
    min-width: 1.3em;
    border: 0.1em solid #DDD;
    height: 1.3em;
    border-radius: 50%;

    &_completed {
      background: url("assets/svg/check.svg");
      background-size: contain;
    }
  }

  &:hover {
    .remover {
      background: url("assets/svg/remove.svg");
      background-size: contain;
    }
  }

  .remover {
    min-width: 1.3em;
    height: 1.3em;
  }
}